<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>About Us</title>
		<link rel="stylesheet" type="text/css" href="../static/css/style.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	</head>
	<body>
		<header>
			<a href="/index">Homepage</a>
			<a href="/about">About Us</a>
			<a href="/contact">Contact Us</a>
		</header>

		<h1>About Us</h1>
		<p>Hi! My name is Zixuan and this is my first blog site.</p>
		
		

		<footer>
			<a href="/index">Homepage</a>
			<a href="/about">About Us</a>
			<a href="/contact">Contact Us</a>
		</footer>
	</body>
</html>