<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Blogs</title>
		<link rel="stylesheet" type="text/css" href="/static/css/style.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	</head>
	<body>
		<header>
			<a href="/index">Homepage</a>
			<a href="/about">About Us</a>
			<a href="/contact">Contact Us</a>
		</header>
		<div id="background">

			<h1 id="tiltle" style="margin-left: 20px; padding-top: 20px">Blogs</h1>
			<hr>
		</div>		
		<ul id="blogs">
			<li class="item"><a class="inner" href="/blog/8-experiments-in-motivation">8 Experiments in Motivation</a></li>
			<li class="item"><a class="inner" href="/blog/a-mindful-shift-of-focus">A Mindful Shift of Focus</a></li>
			<li class="item"><a class="inner" href="/blog/how-to-develop-an-awesome-sense-of-direction">How to Develop an Awesome Sense of Direction</a></li>
			<li class="item"><a class="inner" href="/blog/training-to-be-a-good-writer">Training to Be a Good Writer</a></li>
			<li class="item"><a class="inner" href="/blog/what-productivity-systems-wont-solve">What Productivity Systems Won't Solve</a></li>
		</ul>
		
		

		<footer>
			<a href="/index">Homepage</a>
			<a href="/about">About Us</a>
			<a href="/contact">Contact Us</a>
		</footer>
	</body>
</html>
	
